<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Landing Page</title>
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/admin_home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">CSCE 310 Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--End of Navigation Bar -->


    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Welcome Admin! </h1>

    <div>
      <a href="{{ url_for('admin_bp.add_program') }}">
        <button>Add Program</button>
      </a>
      <a href="{{ url_for('admin_bp.view_all_programs') }}">
        <button>View Programs</button>
      </a>
      <a href="">
        <button>Add Event</button>
      </a>
      <a href="">
        <button>View Events</button>
      </a>
    </div>

    <!-- Table to Display Items -->
    <h2>Current Users</h2>
    <table id="usersTable">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Type</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
            {% if user.uin|int != current_user.uin|int %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>
                        <select id= "user_type_{{user.uin}}" name="user_type" data-uin = {{user.uin}} data-usertype = {{user.user_type}} >
                            <option value="k12_student" {% if user.user_type == "k12_student" %} Selected {% endif%}>K-12 Student</option>
                            <option value="college_student"  {% if user.user_type == "college_student" %} Selected {% endif%}>College Student</option>
                            <option value="admin"  {% if user.user_type == "admin" %} Selected {% endif%} >Admin</option>
                        </select>
                    </td>
                    <td>
                        <button onclick="editButtonPress({{ user.uin }})">Edit</button>
                        {% if user.archived %}
                            <button onclick="archiveUser({{user.uin}}, 0)">Unarchive</button>
                        {% else %}
                            <button onclick="archiveUser({{user.uin}}, 1)">Archive</button>
                        {% endif %}
                        <button onclick="viewProgressButton({{ user.uin }})">View Progress</button>
                        <button onclick="deleteUser({{user.uin}})">Delete</button>
                    </td>
                </tr>
            {% else %}
            {% endif %}
        {% endfor %}
    </table>

    <!-- User Type Selector Modal Container -->
    <Modal id="userTypeFrom" style="display:none;">
    </Modal>


    <script>
        //AJAX calls

        // Redirect to editUser page
        function editButtonPress(uin) {
            window.location.href = `/admin/edit/user/${uin}`;
        }

        function viewProgressButton(uin){
            window.location.href = `/progress/view_progress/${uin}`;
        }

        // Delete User
        function deleteUser(uin) {
            var confirmation = confirm("Are you sure you'd like to delete this user?");
            if (confirmation) {
                $.ajax({
                    url: `/admin/delete_user/${uin}`,
                    method: 'DELETE',
                    success: function(response) {
                        window.location.reload(); 
                    },
                    error: function() {
                        alert('Error: User could not be deleted.');
                    }
                });
            }
        }

        function archiveUser(uin, value) {
            $.ajax({
                url: `/admin/archive_user/${uin}`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({ 
                    'uin': uin,
                    'value': value
                }),
                success: function(response) {
                    window.location.reload();
                }
            });
        }

        $('select[name="user_type"]').change(function() {
            var selectedUserType = $(this).val();
            var uin = $(this).data('uin');

            // Revert any previously changed selectors
            $('select[name="user_type"]').each(function() {
                if ($(this).data('uin') != uin) {
                    $(this).val($(this).data('usertype'));
                }
            });
            
            // store the current user_type (before change)
            var current_user_type; 
            if ($(this).data('usertype') == 'admin'){
                current_user_type = "admin";
            } else if ($(this).data('usertype') == 'college_student'){
                current_user_type = "college_student";
            } else{
                current_user_type = "k12_student";
            }

            // if current type is different from the selected user_type, show form
            if(current_user_type != selectedUserType){
                $.ajax({
                    url: '/admin/user_type_form',
                    method: 'POST',
                    data: { 
                        user_type: selectedUserType,
                        uin: uin
                     },
                    success: function(response) {
                        $('#userTypeFrom').html(response).show();
                    }
                });
            } else{
                $('#userTypeFrom').hide();
            }
        });
    </script>
</body>
</html>
