
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Type Update</title>
    <link rel="stylesheet" href="../static/admin_home.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <div id = "userTypeSelectionForm" class="container" data-userType="{{user_type}}">
        {% if user_type == "admin"%}
        <h2> Are you sure you'd like to promote {{selected_user.Username}}?</h2>
        {% else %}
        <h2> Update User to {{user_type}}: {{selected_user.Username}}</h2>
        {% endif %}
    
        <form action="{{ url_for('admin_bp.save_user_type') }}" method="post" onsubmit="return validateForm()">
    
            <!-- Hidden inputs -->
            <div class="form-group" style="display: none;">
                <input type="text" id="user_type" name="user_type" value="{{ user_type }}">
                <input type="number" id="uin"name="uin" value={{ selected_user.UIN }}>
            </div>
    
            {% if user_type == "college_student" %}
                
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender">
                        <option value="">Please Select</option>
                        <option value="male" {% if selected_user.Gender == "male" %} selected {% endif %}>Male</option>
                        <option value="female" {% if selected_user.Gender == "female" %} selected {% endif %} >Female</option>
                        <option value="other" {% if selected_user.Gender == "other" %} selected {% endif %} >Other</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="hispanic_or_latino">Hispanic or Latino: </label>
                    <input type="checkbox" id="hispanic_or_latino" name="hispanic_or_latino" {% if selected_user.Hispanic_Or_Latino %} checked {% endif %}>
                </div>
    
                <div class="form-group">
                    <label for="race">Race:</label>
                    <select id="race" name="race">
                        <option value="">Please select</option>
                        <option value="asian" {% if selected_user.Race == "asian" %} selected {% endif %}>Asian</option>
                        <option value="black" {% if selected_user.Race == "black" %} selected {% endif %}>Black or African American</option>
                        <option value="hispanic" {% if selected_user.Race == "hispanic" %} selected {% endif %}>Hispanic or Latino</option>
                        <option value="white" {% if selected_user.Race == "white" %} selected {% endif %}>White</option>
                        <option value="native_american" {% if selected_user.Race == "native_american" %} selected {% endif %}>Native American or Alaska Native</option>
                        <option value="pacific_islander" {% if selected_user.Race == "pacific_islander" %} selected {% endif %}>Native Hawaiian or Other Pacific Islander</option>
                        <option value="other" {% if selected_user.Race == "other" %} selected {% endif %}>Other</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="first_gen">First Generation Student:</label>
                    <input type="checkbox" id="first_gen" name="first_gen" {% if selected_user.First_Generation %} checked {% endif %}>
                </div>
    
                <div class="form-group">
                    <label for="US_citizen">US Citizen:</label>
                    <input type="checkbox" id="US_citizen" name="US_citizen" {% if selected_user.US_Citizen %} checked {% endif %}>
                </div>
    
                <div class="form-group">
                    <label for="birth_date">Date of Birth: </label>
                    <input type="date" id="birth_date" name="birth_date" value={{selected_user.Birthdate}}>
                </div>
    
                <div class="form-group">
                    <label for="gpa">GPA:</label>
                    <input type="number" id="gpa" name="gpa" min="0.0" max="4.0" step="0.01">
                </div>
                
                <div class="form-group">
                    <label for="major">Major:</label>
                    <input type="text" id="major" name="major">
                </div>
    
                <div class="form-group">
                    <label for="minor">Minor:</label>
                    <input type="text" id="minor" name="minor" placeholder="optional">
                </div>
    
                <div class="form-group">
                    <label for="second_minor">Second Minor:</label>
                    <input type="text" id="second_minor" name="second_minor" placeholder="optional">
                </div>
    
                <div class="form-group">
                    <label for="Exp_Graduation">Expected Graduation:</label>
                    <select id="Exp_Graduation" name="Exp_Graduation">
                        {% for year in range(current_year, current_year + 6) %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                
    
                <div class="form-group">
                    <label for="school">School:</label>
                    <input type="text" id="school" name="school">
                </div>
    
                <div class="form-group">
                    <label for="classification">Classification:</label>
                    <select id="classification" name="classification">
                        <option value="">Please select</option>
                        <option value="freshman">Freshman</option>
                        <option value="sophomore">Sophomore</option>
                        <option value="junior">Junior</option>
                        <option value="senior">Senior</option>
                        <option value="other">Other</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="phone_number">Phone Number:</label>
                    <input type="tel" id="phone_number" name="phone_number" placeholder="123-456-7890">
                </div>
    
                <div class="form-group">
                    <button type="submit">Save</button>
                    <button type="button" onclick="cancelSubmission({{ selected_user.UIN }}, '{{ selected_user.User_Type }}')">Cancel</button>
                </div>
    
            </div>
            {% elif user_type == "k12_student" %}
                <div class="form-group">
                    <label for="k12_gender">Gender:</label>
                    <select id="k12_gender" name="k12_gender">
                        <option value="Not Selected">Please select</option>
                        <option value="male" {% if selected_user.Gender == "male" %} selected {% endif %}>Male</option>
                        <option value="female" {% if selected_user.Gender == "female" %} selected {% endif %} >Female</option>
                        <option value="other" {% if selected_user.Gender == "other" %} selected {% endif %} >Other</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="k12_hispanic_or_latino">Hispanic or Latino:</label>
                    <input type="checkbox" id="k12_hispanic_or_latino" name="k12_hispanic_or_latino" {% if selected_user.Hispanic_Or_Latino %} checked {% endif %}>
                </div>
    
                <div class="form-group">
                    <label for="k12_race">Race:</label>
                    <select id="k12_race" name="k12_race">
                        <option value="">Please select</option>
                        <option value="asian" {% if selected_user.Race == "asian" %} selected {% endif %}>Asian</option>
                        <option value="black" {% if selected_user.Race == "black" %} selected {% endif %}>Black or African American</option>
                        <option value="hispanic" {% if selected_user.Race == "hispanic" %} selected {% endif %}>Hispanic or Latino</option>
                        <option value="white" {% if selected_user.Race == "white" %} selected {% endif %}>White</option>
                        <option value="native_american" {% if selected_user.Race == "native_american" %} selected {% endif %}>Native American or Alaska Native</option>
                        <option value="pacific_islander" {% if selected_user.Race == "pacific_islander" %} selected {% endif %}>Native Hawaiian or Other Pacific Islander</option>
                        <option value="other" {% if selected_user.Race == "other" %} selected {% endif %}>Other</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="k12_first_gen">First Generation Student:</label>
                    <input type="checkbox" id="k12_first_gen" name="k12_first_gen" {% if selected_user.First_Generation %} checked {% endif %}>
                </div>
    
                <div class="form-group">
                    <label for="k12_US_citizen">US Citizen:</label>
                    <input type="checkbox" id="k12_US_citizen" name="k12_US_citizen" {% if selected_user.US_Citizen %} checked {% endif %}>
                </div>
    
                <div class="form-group">
                    <label for="k12_birth_date">Date of Birth: </label>
                    <input type="date" id="k12_birth_date" name="k12_birth_date" value={{selected_user.Birthdate}}>
                </div>
    
                <div class="form-group">
                    <label for="k12_school">School:</label>
                    <input type="text" id="k12_school" name="k12_school">
                </div>
    
                <div class="form-group">
                    <label for="k12_classification">Grade:</label>
                    <select id="k12_classification" name="k12_classification">
                        <option value="">Please select</option>
                        <option value="K">K</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="k12_phone_number">Phone Number:</label>
                    <input type="tel" id="k12_phone_number" name="k12_phone_number" placeholder="123-456-7890">
                </div>
    
                <div class="form-group">
                    <button type="submit">Save</button>
                    <button type="button" onclick="cancelSubmission({{ selected_user.UIN }}, '{{ selected_user.User_Type }}')">Cancel</button>
                </div>
            {% elif user_type == "admin" %}
                <div class="form-group">
                    <button type="submit">Promote</button>
                    <button type="button" onclick="cancelSubmission({{ selected_user.UIN }}, '{{ selected_user.User_Type }}')">Cancel</button>
                </div>
    
            {% else %}
            {% endif %}
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Auto-format for phone number
        function setupPhoneNumberFormatting() {
            var phoneInput = document.getElementById('phone_number');
            var k12PhoneInput = document.getElementById('k12_phone_number');
    
            if (phoneInput) {
                phoneInput.addEventListener('input', formatPhoneNumber);
            }
    
            if (k12PhoneInput) {
                k12PhoneInput.addEventListener('input', formatPhoneNumber);
            }
        }
    
        function formatPhoneNumber(e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '');
        }
    
        setupPhoneNumberFormatting();
    
        function cancelSubmission(uin, previous_type) {
            document.getElementById("userTypeSelectionForm").style.display = "none";
            document.getElementById("user_type_" + uin).value = previous_type;
        }
    
        function validateForm() {
            var userType = document.getElementById('userTypeSelectionForm').getAttribute('data-userType');
            // Fields for Colege Students
            var college_fields = ['gender', 'race', 'birth_date', 'gpa', 'major', 'Exp_Graduation', 'school', 'classification', 'phone_number'];
            
            // Fields for K12 Students
            var k12_fields = ['k12_gender', 'k12_race', 'k12_birth_date', 'k12_school', 'k12_classification', 'k12_phone_number'];
    
            if(userType == "college_student"){
                for (var i = 0; i < college_fields.length; i++) {
                    if (!document.getElementById(college_fields[i]).value) {
                        alert("Please fill out all required fields. ");
                        return false; 
                    }
                }     
                // Regex for phone number
                var regex = /^\d{3}-\d{3}-\d{4}$/;
                // Validate number
                if(!regex.test((document.getElementById("phone_number").value))){
                    alert("Please enter a valid phone number.");
                    return false; 
                }         
            }
    
    
            if(userType == "k12_student"){
                for (var i = 0; i < k12_fields.length; i++) {
                    console.log(document.getElementById(k12_fields[i]).value);
                    if (!document.getElementById(k12_fields[i]).value) {
                        alert("Please fill out all required fields. ");
                        return false; 
                    }
                }  
    
                // Regex for phone number
                var regex = /^\d{3}-\d{3}-\d{4}$/;
                // Validate number
                if(!regex.test((document.getElementById("k12_phone_number").value))){
                    alert("Please enter a valid phone number.");
                    return false; 
                }       
            }
            
            return true;
        }
    </script>
</body>
</html>