<!--File Author: Alex Kilgore-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> View Certifications</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/general.css">
  <link rel="stylesheet" href="../../static/admin_home.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">CSCE 310 Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/profile">Profile</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
      </div>
  </nav>
  <!--End of Navigation Bar -->
  {% if flag=="add" %}
{% elif flag=="view" %}
{% endif %}

    {% if flag=="add" %}
    <h2>Available Certifications</h2>
    {% elif flag=="view" %}
    <h2>{{name}}'s Certifications</h2>
    {% endif %}

  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Level</th>
    {% if flag=="view" %}
    <th>Status</th>
    <th>Training Status</th>
    <th>Semester</th> <!--and year-->
    {% endif %}
    <th>Modify</th>
    </tr>
    {% for cert in certs %}
        <tr>
          <td>{{ cert.Name }}</td>
          <td>{{ cert.Description }}</td>
          <td>{{ cert.Level }}</td>
        {% if flag=="view" %}
            <td>{{ cert.Status }}</td>
            <td>{{ cert.Training_Status }}</td>
            <td>{{ cert.Semester}} {{cert.Year }}</td>
        {% endif %}
        {% if flag=="add" %}
            <td>
                <a href="{{url_for('cert_bp.enroll_cert', Cert_ID=cert.Cert_ID, UIN=request.view_args['UIN'])}}">
                    <button>Enroll</button>
                </a>
            </td>
        {% elif flag=="view" %}
            <td>
                <a href="{{url_for('cert_bp.update_cert_enrollment', Cert_ID=cert.Cert_ID, UIN=request.view_args['UIN'])}}">
                    <button>Edit</button>
                </a>
                <button onclick="deleteCert({{cert.Cert_ID}}, {{request.view_args['UIN']}})">Delete</button>
            </td>
        {% endif %}
    </tr>
        {% endfor %}
    <!-- Look at admin_home.html for idea of how archived code will work -->
  </table>

  <script>
    function deleteCert(cert_id, UIN) {
        $.ajax({
          url: `/cert/delete_cert_enrollment/${cert_id}/${UIN}`,
          method: 'DELETE',
          success: function(response) {
            window.location.reload();
          },
            error: function(xhr, status, error) {
                console.error("Error:", error);
            }
        })
      }
  </script>
</body>
</html>