<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Program</title>
</head>
<body>
  <h1>Add New Program</h1>
  <form action="{{ url_for('admin_bp.add_program') }}" method="POST">
    <div class="form-group">
      <label for="program_name">Program Name:</label>
      <input id="program_name" name="program_name" type="text">
    </div>
    <div class="form-group">
      <label for="program_descr">Program Description:</label>
      <input id="program_descr" name="program_descr" type="text">
    </div>
    <div class="form-group">
      <button type="submit">Add Program</button>
    </div>
  </form>
</body>
</html>