<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin View Events</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../static/general.css">
</head>
<body>
  <a href="{{url_for('home')}}">
    <button>< Back</button>
  </a>

  <table>
    <tr>
        <th>Program Number</th>
        <th>UIN of Event Creator</th>
        <th>Start Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>End Date</th>
        <th>Event Type</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{event.program_num}}</td>
        <td>{{event.UIN}}</td>
        <td>{{event.start_date}}</td>
        <td>{{event.time}}</td>
        <td>{{event.location}}</td>
        <td>{{event.end_date}}</td>
        <td>{{event.event_type}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>