<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Landing Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1> {{ current_user.f_name }}'s User Management</h1>

    <!-- Table to Display Items -->
    <h2>Users</h2>
    <table id="usersTable">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Type</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.f_name }}</td>
            <td>{{ user.l_name }}</td>
            <td>
                <select id= "user_type_{{user.user_id}}" name="user_type" data-id = {{user.user_id}} data-student = {{user.student_type}} data-admin = {{user.is_admin}}>
                    <option value="k12_student" {% if user.student_type == "k12_student" %} Selected {% endif%}>K-12 Student</option>
                    <option value="college_student"  {% if user.student_type == "college_student" %} Selected {% endif%}>College Student</option>
                    <option value="admin"  {% if user.is_admin == "True" %} Selected {% endif%} >Admin</option>
                </select>
            </td>
            <td>
                <button onclick="deleteUser({{user.user_id}})">Delete</button>
                {% if user.archived %}
                    <button onclick="updateUser('archived', {{user.user_id}}, 0)">Unarchive</button>
                {% else %}
                    <button onclick="updateUser('archived', {{user.user_id}}, 1)">Archive</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Logout Button -->
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>

    <!-- User Type Selector Modal Container -->
    <Modal id="userTypeFrom" style="display:none;">
    </Modal>


    <script>
        //AJAX calls

        // Delete User
        function deleteUser(id) {
            $.ajax({
                url: `/admin/delete_user/${id}`,
                method: 'DELETE',
                success: function(response) {
                    window.location.reload(); 
                }
            });
        }   

        // update user: called for archive
        function updateUser(field, id, value) {
            $.ajax({
                url: `/admin/update_user/${id}`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({ 
                    'user_id': id,
                    'field':field,
                    'value': value
                }),
                success: function(response) {
                    window.location.reload();
                }
            });
        }

        $('select[name="user_type"]').change(function() {
            var selectedUserType = $(this).val();
            var user_id = $(this).data('id');
            
            // store the current user_type (before change)
            var current_user_type; 
            if ($(this).data('admin') == "True"){
                current_user_type = "admin";
            } else if ($(this).data('student') == 'college_student'){
                current_user_type = "college_student";
            } else{
                current_user_type = "k12_student";
            }

            // if current type is different from the selected user_type, show form
            if(current_user_type != selectedUserType){
                $.ajax({
                    url: '/admin/user_type_form',
                    method: 'POST',
                    data: { 
                        user_type: selectedUserType,
                        user_id: user_id
                     },
                    success: function(response) {
                        $('#userTypeFrom').html(response).show();
                    }
                });
            } else{
                $('#userTypeFrom').hide();
            }
        });
    </script>
</body>
</html>
