<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Change Password</h1>

    <form action="{{ url_for('passwordRecovery') }}" method="post">
        <label for="UIN">UIN:</label><br>
        <input type="text" id="UIN" name="UIN" {%if stored %} value="{{stored.UIN}}" {% endif %}><br>

        <label for="Old">Old Password:</label><br>
        <input type="password" id="Old" name="Old" {%if stored %} value="{{stored.Old}}" {% endif %}><br>

        <label for="New">New Password:</label><br>
        <input type="password" id="New" name="New" {%if stored %} value="{{stored.New}}" {% endif %}><br>

        <label for="Confirm">Confirm New Password:</label><br>
        <input type="password" id="Confirm" name="Confirm" {%if stored %} value="{{stored.Confirm}}" {% endif %}><br>

        <input type="submit" value="Change Password">
    </form>

    <form action="{{ url_for('login') }}" method="get">
        <button type="submit">Back to Login</button>
    </form>
</body>
</html>
