<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Program Management</title>
</head>
<body>
  <h1>Cybersecurity Programs</h1>
  <h2>blurb about the benefit of cybersecurity programs</h2>
  <div>
    <a href="program_application.html">
      <button>Apply</button>
    </a>
    <a href="program_review.html">
      <button>Review Applications</button>
    </a>
    <a>
      <button>Update Applications</button>
    </a>
  </div>
</body>
</html>