<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Program Application</title>
</head>
<body>
  <select>
    <% for progrm in programs %>
    <option value="{{ program.Program_Num }}">{{ program.name }}</option>
    <% endfor %>
  </select>
  <div>
    <p>
      Are you currently enrolled in other uncompleted certifications sponsored by the Cybersecurity Center?
    </p>
    <input id="uncom_cert" type="text">
    <p>
      Have you completed any cybersecurity industry certifications via the Cybersecurity Center?
    </p>
    <input id="com_cert" type="text">
    <p>Please provide your purpose statement: </p>
    <input id="purpose_statement" type="text">
    <br>
    <button id="apply-button" type="submit">Apply</button>
  </div>
</body>
</html>