<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Program Application</title>
</head>
<body>
  <a href="program_management.html">
    <button>< Back</button>
  </a>

  <!-- Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
  {% endwith %}

  <select id="program-select">
    <% for program in programs %>
    <option value="{{ program.program_num }}">{{ program.name }}</option>
    <% endfor %>
  </select>

  <form action="{{ urlfor(add_new_application) }}" method="post">
    <div class="form-group">
      <p>Are you currently enrolled in other uncompleted certifications sponsored by the Cybersecurity Center?</p>
      <input id="uncom-cert" type="text">
    </div>

    <div class="form-group">      
      <p>Have you completed any cybersecurity industry certifications via the Cybersecurity Center?</p>
      <input id="com-cert" type="text">
    </div>

    <div class="form-group">      
      <p>Please provide your purpose statement: </p>
      <input id="purpose-statement" type="text">
    </div>

    <!-- Need form group to handle uploading documents to application -->

    <br>
    <div class="form-group">
      <button id="apply-button" type="submit" disabled="true">Apply</button>
    </div>
  </form>

  <script>
    function updateApplyButton(alreadyApplied) {
      // if already applied (python code will flash) this function will disable submit button, else it enable submit button
      var applyButton = document.getElementById('apply-button');
      if (alreadyApplied) {
        applyButton.disabled = true;
      } else {
        applyButton.disabled = false;
      }
    }

    function checkForApplication() {
      let program_num = document.getElementById('program-select').value;

      // ajax call to check if current user already applied to this program
      $.ajax({
        url: '/program_aplication/' + program_num,
        method: 'GET',
        contentType: 'application/json',
        success: function(response) {
          let alreadyApplied = response.json()['alreadyApplied'];
          updateApplyButton(alreadyApplied);
        }
      });
    }

    // triggers every time a new program is selected, checks if user has already applied to that program
    document.getElementById('program-select').addEventListener('change', checkForApplication);
  </script>
</body>
</html>