<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review Program Application</title>
</head>
<body>
  <a href="program_management.html">
    <button>< Back</button>
  </a>
  <table>
    <tr>
      <th>Program Name</th>
      <th>Program Description</th>
      <th>Application Status</th>
      <th>Modify</th>
    </tr>
    <% for program in appliedPrograms %>
    <tr>
      <td>{{ program.name }}</td>
      <td>{{ program.description }}</td>
      <td>status</td>
      <td>
        <button>Update</button>
        <button>Delete</button>
      </td>
    </tr>
    <% endfor %>
  </table>
</body>
</html>