<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review Program Application</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../../static/general.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">CSCE 310 Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
  </nav>
  <!--End of Navigation Bar -->

  <table>
    <tr>
      <th>Program Name</th>
      <th>Program Description</th>
      <th>Uncompleted Certifications</th>
      <th>Completed Certifications</th>
      <th>Purpose Statment</th>
      <th>Application Status</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>

    {% for program_app in applied_programs %}
    <tr>
      <td>{{ program_app.name }}</td>
      <td>{{ program_app.description }}</td>
      <td>{{ program_app.uncom_cert }}</td>
      <td>{{ program_app.com_cert }}</td>
      <td>{{ program_app.purpose_statement }}</td>
      <td>
        <!-- Gives application status depending on whether student+program is in Track -->
        {% if program_app.status == None %}
        Pending
        {% else %}
        {{ program_app.status }}
        {% endif %}
      </td>
      <td>
        <a href="/app/update_program_app/{{ program_app.app_num }}">
          <button>Modify</button>
        </a>
      </td>
      <td>
        <button onclick="deleteApp({{ program_app.app_num }})">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </table>
  
  <script>
    function deleteApp(app_num) {
      $.ajax({
        url: `/app/delete_application/${app_num}`,
        method: 'DELETE',
        success: function(response) {
          window.location.reload();
        }
      });
    }
  </script>
</body>
</html>