<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document Viewer</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../static/general.css">
</head>
<body>
  <a class="back_button" href="{{ url_for('home') }}">
    <button>< Back</button>
  </a>

    <h2>Update Document</h2>

    <form id="updateDocumentForm" action="/update_file/{{document.doc_num}}" method="post" enctype="multipart/form-data">

        <label for="app_num">Application Number</label>
        <input type="text" id="app_num" name="app_num" required>

        <label for="document_type">Document Type</label>
        <input type="text" id="type" name="type" required>

        <input type="file" id="document" name="document" required>
        <button type="submit">Upload Document</button>
        
    </form>
    
    
</body>
</html>